header {
    background: url("../../assets/ImagesJpg/Kiton-70.jpg") no-repeat  center center / cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 45px;
}